#tips{
    background: #fff;
    color: black;
    text-align: center;
    padding: 20px;
}
#tips .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h3{
    text-align: center;
}